body{
    background-color: lightblue;
    font-size: 40px;
}

pre {
    white-space: pre-wrap;
}

.my-3 {
    background: #ff7042;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 4rem;
    padding-top: 0;
}